.home-header {
  background: white;
  color: black;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100%;
  width: 100%;
  height: 100px;
  z-index: 1000;
  box-sizing: border-box;
  backdrop-filter: blur(1px);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  position: relative; /* Ensure proper positioning of elements inside */
}

.search-container {
  position: relative;
  margin-left: 50px;
  flex-grow: 1; /* Allow it to grow and fill space */
}

.search-input {
  padding: 10px 40px 10px 15px;
  padding-left: 50px;
  border: 2px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  width: 600px;
}

.search-input:focus {
  outline: none;
  border-color: #fd9644;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #aaa;
}

.message-and-button {
  display: flex;
  align-items: center;
  /* margin-left: auto; */
  margin-right: 20px;
}

.welcome-message {
  color: black;
  margin-right: 20px;
}

.login-btn,
.logout-btn {
  padding: 10px 20px;
  background-color: #fd9644;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.login-btn:hover,
.logout-btn:hover {
  background-color: #e57c27;
}

.logo {
  width: 100px;
  height: auto;
  border-radius: 5px;
}

.explore-dropdown {
  margin-left: 50px;
}

/* Hamburger Menu Container */
.hamburger-menu {
  position: relative;
  margin-left: 20px;
}

/* Hamburger Icon */
.hamburger-btn {
  font-size: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #fd9644;
  font-weight: bold;
  display: inline-block;
}

.hamburger-btn:hover {
  color: #e57c27;
}

/* Dropdown Menu */
.dropdown-menu {
  display: none; /* Hidden by default */
  position: absolute;
  top: 40px; /* Adjust the position */
  right: 0; /* Align the dropdown to the right edge of the page */
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 200px;
  margin-top: 10px;
  z-index: 1002;
}

/* When the dropdown is visible, make it display */
.hamburger-menu .dropdown-menu {
  display: block;
}

.dropdown-item {
  padding: 10px 20px;
  background-color: white;
  border: none;
  text-align: left;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f7f7f7;
}
